footer{
    background-color:var(--white);
    padding-top: 3rem;
}
footer h5{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
footer p{
    line-height: 0.5rem;
}
footer hr{
    /* border: 0.5px solid var(--black); */
    /* width: 100%; */
}
footer ul li{
    display: inline-block;
    padding:0 0.5rem;
}
footer ul li::before{
    content: " | ";
}
footer ul li:first-child::before{
    content: "";
}

